<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<filter>
		<filter-name>Who Am I Authentication Filter</filter-name>
		<filter-class>com.liferay.whoami.servlet.filters.WhoAmIAuthenticationFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Who Am I Authentication Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>	
	<servlet>
		<servlet-name>WhoAmI Servlet</servlet-name>
		<servlet-class>com.liferay.whoami.servlet.WhoAmIAuthenticationServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>WhoAmI Servlet</servlet-name>
		<url-pattern>/info</url-pattern>
	</servlet-mapping>

</web-app>